-- Supprimer la limitation de 500 caractères sur photo_url
-- Cela permet de stocker des URLs complètes vers les fichiers uploadés

ALTER TABLE users MODIFY COLUMN photo_url TEXT;

-- Ou si vous préférez VARCHAR plus long :
-- ALTER TABLE users MODIFY COLUMN photo_url VARCHAR(1000);

-- Vérifier le changement :
-- DESCRIBE users;
